<main class="demo-main">
    <div class="demo-container mdl-grid">
      <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
      <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
        <div class="demo-crumbs mdl-color-text--grey-500">
          Teste Prosas &gt; Acesse o menu lateral e a opção "propostas"
        </div>
        <h3>Backend</h3>

        <ul class="demo-list-icon mdl-list">
            <li class="mdl-list__item">
              <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon">person</i>
              Rails 5.1.6
          </span>
            </li>
            <li class="mdl-list__item">
              <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon">person</i>
              ruby 2.5.1p57 (2018-03-29 revision 63029) [x86_64-linux]
            </span>
            </li>
            <li class="mdl-list__item">
              <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon">person</i>
              PostgreSQL 10.4 (Ubuntu 10.4-0ubuntu0.18.04) on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 7.3.0-16ubuntu3) 7.3.0, 64-bit
            </span>
            </li>
          </ul>
        <h3>Fontend</h3>
          <ul class="demo-list-item mdl-list">
            <li class="mdl-list__item">
              <span class="mdl-list__item-primary-content">
                Nodejs v6.10.3
              </span>
            </li>
            <li class="mdl-list__item">
              <span class="mdl-list__item-primary-content">
                Npm 3.10.10
              </span>
            </li>
          </ul>
      </div>
    </div>
    <footer class="demo-footer mdl-mini-footer">
      <div class="mdl-mini-footer--left-section">
        <ul class="mdl-mini-footer--link-list">
          <li><a href="#">(31)98618-2292</a></li>
          <li><a href="#">silveirasoie@gmail.com</a></li>
          <li><a href="#">Cristiano Araújo da Silveira</a></li>
        </ul>
      </div>
    </footer>
  </main>